body {
    background-color: lightgray;
}


a {
    text-decoration: none;
}



#top_row, #mid_row, #btm_row {

    display: flex;
    justify-content: center;
    gap: 2.3rem;
}

video {
height: 268px;

width: 169px;

    
}

.form-control {
    border-color: black;
    
}

#logo_img {
    position: absolute;
    height: auto;
    width: 180px;
}

#upload-button-div {
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
}



#search_container {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
   
}